:root {
    --primary-color: #3498db;
}
.app__message {
    h1 {
        font-size: 2rem;
        color: var(--primary-color);
    }
    .btn {
        background-color: var(--primary-color);
        color: white;
        padding: 10px 20px;
        border: none;
        border-radius: 5px;
        cursor: pointer;
    }
}

html, body {
  margin: 0;
  padding: 0;
  height: 100%;
  overflow-x: hidden;
  background: linear-gradient(to right, #e0e0e0, #2c3e50); // tu peux personnaliser
  font-family: sans-serif;
}
